<div
    class="flex w-full min-w-0 flex-col sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <as-split
        direction="horizontal"
        useTransition="true"
        gutterSize="30"
        [style.--_as-gutter-background-color]="
            isDarkMode ? '#273549' : '#f1f5f9'
        "
    >
        <as-split-area
            [size]="60"
            [visible]="!isMobile || showPrimaryArea"
            minSize="30"
            class="border"
            [style.borderColor]="isDarkMode ? '#334155' : 'var(--fuse-border)'"
        >
            <ng-container *ngTemplateOutlet="leftTemplate"> </ng-container>
        </as-split-area>
        <as-split-area
            [size]="40"
            [visible]="!isMobile || !showPrimaryArea"
            minSize="30"
            class="border"
            [style.borderColor]="isDarkMode ? '#334155' : 'var(--fuse-border)'"
        >
            <ng-container *ngTemplateOutlet="rightTemplate"> </ng-container>
        </as-split-area>
    </as-split>
</div>
