@if (deviceType === 'phone') {
    <div class="fixed bottom-0 z-10 w-full border-t">
        <div class="flex items-center justify-center gap-6 bg-gray-50 px-4 py-3 dark:bg-[#273549]">
            <chp-edit-tool (editSongEvent)="editSongEvent.emit()"></chp-edit-tool>
            <chp-zoom-tool (zoomEvent)="onZoomEvent($event)"></chp-zoom-tool>
            @if (showFullscreen) {
                <chp-fullscreen-tool (fullScreenEvent)="fullScreenEvent.emit()"></chp-fullscreen-tool>
            }
            @if (showSettings) {
                <chp-settings-tool (settingsEvent)="settingsEvent.emit()"></chp-settings-tool>
            }
            <chp-transpose-tool
                [initialKey]="song?.songKey"
                (transposeEvent)="transposeEvent.emit($event)"
            ></chp-transpose-tool>
        </div>
    </div>
} @else {
    <div class="flex items-center gap-2 bg-gray-50 px-4 py-3 dark:bg-[#273549]">
        <chp-edit-tool (editSongEvent)="editSongEvent.emit()"></chp-edit-tool>
        @if (showFullscreen) {
            <chp-fullscreen-tool (fullScreenEvent)="fullScreenEvent.emit()"></chp-fullscreen-tool>
        }
        <chp-zoom-tool [isMobile]="false" (zoomEvent)="onZoomEvent($event)"></chp-zoom-tool>
        @if (showSettings) {
            <chp-settings-tool (settingsEvent)="settingsEvent.emit()"></chp-settings-tool>
        }
        <chp-transpose-tool
            [isMobile]="false"
            [initialKey]="song?.songKey"
            (transposeEvent)="transposeEvent.emit($event)"
        ></chp-transpose-tool>
    </div>
}
