<div class="flex flex-0 items-center justify-between border-b bg-gray-50 px-4 py-3 dark:bg-transparent">
    <div class="flex items-center gap-2">
        <button mat-icon-button [matTooltip]="'toolbar.save' | transloco" (click)="saveSongEvent.emit()">
            <mat-icon [svgIcon]="'heroicons_outline:document-arrow-down'"></mat-icon>
        </button>
        <button mat-icon-button [color]="'warn'" [matTooltip]="'toolbar.delete' | transloco" (click)="removeSongEvent.emit()">
            <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
        </button>
        @if (mode === 'quick') {
            <button mat-icon-button [matTooltip]="'toolbar.open_full_editor' | transloco" (click)="openFullEditorEvent.emit()">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-top-right-on-square'"></mat-icon>
            </button>
        }
        @if (mode === 'full') {
            <button mat-icon-button [matTooltip]="'toolbar.help' | transloco" (click)="helpEvent.emit()">
                <mat-icon [svgIcon]="'heroicons_outline:question-mark-circle'"></mat-icon>
            </button>
        }
    </div>
    <div class="flex items-center">
        <button mat-icon-button [matTooltip]="'toolbar.close' | transloco" (click)="closeEvent.emit()">
            <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>
</div>
