rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /songs/{docId} {
      allow read, write: if signedIn();
    }

    match /songbooks/{docId} {
      allow read, write: if signedIn();
    }

    match /songbook_songs/{docId} {
      allow read, write: if signedIn();
    }

    match /leaders/{docId} {
      allow read, write: if signedIn();
    }
  }
}
