<div class="relative">
    <button mat-icon-button [matTooltip]="'Change Size'" (click)="toggleSizeSlider()">
        <mat-icon [svgIcon]="'heroicons_outline:magnifying-glass-plus'"></mat-icon>
    </button>
    @if (showSizeSlider) {
        <div class="fixed inset-0" (click)="toggleSizeSlider()"></div>
        <div
            class="absolute left-1/2 -translate-x-1/2 rounded-lg bg-white p-2 shadow-lg dark:bg-gray-800"
            [ngClass]="{ 'bottom-[calc(100%)]': isMobile }"
        >
            <mat-slider discrete min="8" max="24">
                <input matSliderThumb [value]="fontSize" (valueChange)="onZoomEvent($event)" />
            </mat-slider>
            <div class="mt-2 flex justify-end">
                <button mat-stroked-button type="button" (click)="resetZoom()">Resetar zoom</button>
            </div>
        </div>
    }
</div>
