<div class="flex flex-auto flex-col items-center justify-center p-6 sm:p-10">
    <div class="flex w-full max-w-400 overflow-hidden sm:rounded-md sm:shadow">
        <div class="bg-card relative flex flex-auto flex-col p-6 sm:p-10">
            <div class="mt-8 w-full">
                <div class="text-3xl font-semibold leading-tight">Criar conta</div>
            </div>

            <div class="text-secondary mt-2">
                Informe seu e-mail e senha para criar uma conta gratuita
            </div>

            @if (showAlert) {
                <fuse-alert
                    class="mt-8"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="showAlert"
                >
                    {{ alert.message }}
                </fuse-alert>
            }

            <!-- Sign Up form -->
            <form class="mt-8" [formGroup]="signUpForm" #signUpNgForm="ngForm" (ngSubmit)="signUp()">
                <!-- Name field -->
                <mat-form-field class="w-full">
                    <mat-label>Nome</mat-label>
                    <input
                        matInput
                        [formControl]="signUpForm.controls.name"
                        type="text"
                        autocomplete="name"
                    />
                    @if (signUpForm.get('name').hasError('required')) {
                        <mat-error>Nome é obrigatório</mat-error>
                    }
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input
                        matInput
                        [formControl]="signUpForm.controls.email"
                        type="email"
                        autocomplete="email"
                    />
                    @if (signUpForm.get('email').hasError('required')) {
                        <mat-error>E-mail é obrigatório</mat-error>
                    }
                    @if (signUpForm.get('email').hasError('email')) {
                        <mat-error>Informe um e-mail válido</mat-error>
                    }
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Senha</mat-label>
                    <input
                        matInput
                        [formControl]="signUpForm.controls.password"
                        type="password"
                        autocomplete="new-password"
                    />
                    <mat-error>Senha é obrigatória</mat-error>
                </mat-form-field>

                <!-- Terms and conditions -->
                <mat-checkbox
                    class="mat-mdc-form-field-no-label ml-1 mt-2"
                    [formControl]="signUpForm.controls.agree"
                >
                    Concordo com os
                    <a href="javascript:void(0)" class="underline"
                        >Termos e Condições</a
                    >
                </mat-checkbox>
                @if (signUpForm.get('agree').touched && signUpForm.get('agree').invalid) {
                    <div class="mt-1 text-sm text-warn-600">Você deve aceitar os termos e condições.</div>
                }

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large mt-8 w-full"
                    mat-flat-button
                    type="submit"
                    color="primary"
                    [disabled]="signUpForm.disabled"
                >
                    @if (!signUpForm.disabled) {
                        <span>Criar conta</span>
                    }
                    @if (signUpForm.disabled) {
                        <mat-spinner [diameter]="24"></mat-spinner>
                    }
                </button>

                <!-- Sign in link -->
                <div class="text-secondary mt-8 text-md font-medium">
                    <span>Já tem uma conta?</span>
                    <a class="ml-1 text-primary-500" [routerLink]="['/sign-in']"
                        >Entrar</a
                    >
                </div>
            </form>
        </div>
    </div>
</div>
