<div class="flex min-h-[calc(100vh-4rem)] w-full items-center justify-center p-6 sm:p-10">
    <div class="flex w-full max-w-[480px] overflow-hidden sm:rounded-md sm:shadow">
        <div class="bg-card relative flex flex-auto flex-col p-6 sm:p-10">
            <div class="mt-8 w-full">
                <div class="text-3xl font-semibold leading-tight">Entrar</div>
            </div>

            <div class="text-secondary mt-2">
                Informe seu e-mail e senha para entrar
            </div>

            @if (showAlert) {
                <fuse-alert
                    class="mt-8"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="showAlert"
                >
                    {{ alert.message }}
                </fuse-alert>
            }

            <!-- Sign in form -->
            <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">
                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>E-mail</mat-label>
                    <input
                        matInput
                        [formControl]="signInForm.controls.email"
                        [type]="'email'"
                        autocomplete="email"
                    />
                    @if (signInForm.get('email').hasError('required')) {
                        <mat-error>E-mail é obrigatório</mat-error>
                    }
                    @if (signInForm.get('email').hasError('email')) {
                        <mat-error>Informe um e-mail válido</mat-error>
                    }
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Senha</mat-label>
                    <input
                        matInput
                        [formControl]="signInForm.controls.password"
                        [type]="'password'"
                        autocomplete="current-password"
                    />
                    <mat-error>Senha é obrigatória</mat-error>
                </mat-form-field>

                <!-- Remember me -->
                <mat-checkbox
                    class="mat-mdc-form-field-no-label ml-1 mt-1"
                    [formControl]="signInForm.controls.rememberMe"
                >
                    Lembrar de mim
                </mat-checkbox>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large mt-8 w-full"
                    mat-flat-button
                    color="primary"
                    [disabled]="signInForm.disabled"
                    (click)="signIn()"
                >
                    @if (!signInForm.disabled) {
                        <span>Entrar</span>
                    }
                    @if (signInForm.disabled) {
                        <mat-spinner [diameter]="24"></mat-spinner>
                    }
                </button>

                <!-- Sign up link -->
                <div class="text-secondary mt-8 text-md font-medium">
                    <span>Ainda não tem conta?</span>
                    <a class="ml-1 text-primary-500" [routerLink]="['/sign-up']"
                        >Criar conta</a
                    >
                </div>
            </form>
        </div>
    </div>
</div>
