@if (appearance === 'bar') {
    <!-- Bar search -->
    @if (!opened) {
        <button mat-icon-button aria-label="Open search" (click)="open($event)">
            <mat-icon [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
        </button>
    }
    @if (opened) {
        <div class="absolute inset-0 z-99 flex flex-col bg-gray-200 dark:bg-[#273549]" @slideInTop @slideOutTop>
            <mat-icon
                class="absolute top-1/2 ml-6 -translate-y-1/2 transform sm:ml-8"
                [svgIcon]="'heroicons_outline:magnifying-glass'"
            ></mat-icon>
            <input
                class="h-full w-full px-16 sm:px-18"
                [formControl]="searchControl"
                [placeholder]="'search.placeholder_bar' | transloco"
                (keydown)="onKeydown($event)"
                [matAutocomplete]="searchResults?.matAutocomplete"
                #barSearchInput
            />
            <button
                class="absolute right-5 top-1/2 -mt-5 h-10 w-10 shrink-0 sm:right-7"
                mat-icon-button
                aria-label="Close search"
                (click)="close()"
            >
                <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>

            <div class="relative">
                <search-results
                    #searchResults
                    [resultSets]="resultSets"
                    [searchValue]="searchControl.value"
                ></search-results>
            </div>
        </div>
    }
}

@if (appearance === 'basic') {
    <div class="w-full sm:min-w-120">
        <mat-form-field class="w-full fuse-mat-bold max-w-80 sm:max-w-120" [subscriptSizing]="'dynamic'">
            <mat-icon matPrefix [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
            <input
                matInput
                [formControl]="searchControl"
                [placeholder]="'search.placeholder' | transloco"
                [matAutocomplete]="searchResults?.matAutocomplete"
                (keydown)="onKeydown($event)"
            />
        </mat-form-field>

        <search-results #searchResults [resultSets]="resultSets" [searchValue]="searchControl.value"></search-results>
    </div>
}
