<div class="flex w-full flex-col overflow-auto">
    <div
        class="flex h-20 min-h-20 flex-row items-center bg-primary px-6 text-white"
    >
        <mat-icon
            class="text-current icon-size-7"
            [svgIcon]="'heroicons_solid:cog-8-tooth'"
        ></mat-icon>
        <div class="ml-3 text-2xl font-semibold tracking-tight">{{ 'common.settings' | transloco }}</div>
        <button class="ml-auto" mat-icon-button (click)="closeSettings.emit()">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>

    <div class="flex flex-col p-6">
        <!-- Theme -->
        <div class="text-secondary text-md font-semibold">{{ 'common.theme' | transloco }}</div>
        <div class="mt-6 grid grid-cols-2 gap-3 sm:grid-cols-3">
            @for (theme of config.themes; track theme) {
                <div
                    class="bg-hover flex cursor-pointer items-center justify-center rounded-full px-4 py-3 ring-inset ring-primary"
                    [class.ring-2]="config.theme === theme.id"
                    [ngClass]="theme.id"
                    (click)="setTheme(theme.id)"
                >
                    <div class="h-3 w-3 flex-0 rounded-full bg-primary"></div>
                    <div
                        class="ml-2.5 truncate font-medium leading-5"
                        [class.text-secondary]="config.theme !== theme.id"
                    >
                        {{ theme.name }}
                    </div>
                </div>
            }
        </div>

        <hr class="my-8" />

        <!-- Language -->
        <div class="text-secondary text-md font-semibold">{{ 'common.language' | transloco }}</div>
        <div class="mt-6 grid grid-cols-4 justify-items-start gap-3">
            <!-- ES -->
            <div
                class="bg-hover flex cursor-pointer items-center rounded-full py-3 pl-5 pr-6 ring-inset ring-primary"
                [class.ring-2]="activeLang === 'es'"
                (click)="setActiveLang('es')"
            >
                <div
                    class="ml-2 flex items-center font-medium leading-5"
                    [class.text-secondary]="activeLang !== 'es'"
                >
                    Español
                </div>
            </div>
            <!-- PT-BR -->
            <div
                class="bg-hover flex cursor-pointer items-center rounded-full py-3 pl-5 pr-6 ring-inset ring-primary"
                [class.ring-2]="activeLang === 'pt-br'"
                (click)="setActiveLang('pt-br')"
            >
                <div
                    class="ml-2 flex items-center font-medium leading-5"
                    [class.text-secondary]="activeLang !== 'pt-br'"
                >
                    Português (BR)
                </div>
            </div>
            <!-- FR -->
            <div
                class="bg-hover flex cursor-pointer items-center rounded-full py-3 pl-5 pr-6 ring-inset ring-primary"
                [class.ring-2]="activeLang === 'fr'"
                (click)="setActiveLang('fr')"
            >
                <div
                    class="ml-2 flex items-center font-medium leading-5"
                    [class.text-secondary]="activeLang !== 'fr'"
                >
                    Français
                </div>
            </div>
            <!-- EN -->
            <div
                class="bg-hover flex cursor-pointer items-center rounded-full py-3 pl-5 pr-6 ring-inset ring-primary"
                [class.ring-2]="activeLang === 'en'"
                (click)="setActiveLang('en')"
            >
                <div
                    class="ml-2 flex items-center font-medium leading-5"
                    [class.text-secondary]="activeLang !== 'en'"
                >
                    English
                </div>
            </div>
        </div>

        <hr class="my-8" />

        <!-- Scheme -->
        <div class="text-secondary text-md font-semibold">{{ 'common.scheme' | transloco }}</div>
        <div class="mt-6 grid grid-cols-3 justify-items-start gap-3">
            <!-- Auto -->
            <div
                class="bg-hover flex cursor-pointer items-center rounded-full py-3 pl-5 pr-6 ring-inset ring-primary"
                [class.ring-2]="config.scheme === 'auto'"
                [matTooltip]="'common.auto_scheme_tooltip' | transloco"
                (click)="setScheme('auto')"
            >
                <div class="flex items-center overflow-hidden rounded-full">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:bolt'"
                    ></mat-icon>
                </div>
                <div
                    class="ml-2 flex items-center font-medium leading-5"
                    [class.text-secondary]="config.scheme !== 'auto'"
                >
                    {{ 'common.auto' | transloco }}
                </div>
            </div>
            <!-- Dark -->
            <div
                class="bg-hover flex cursor-pointer items-center rounded-full py-3 pl-5 pr-6 ring-inset ring-primary"
                [class.ring-2]="config.scheme === 'dark'"
                (click)="setScheme('dark')"
            >
                <div class="flex items-center overflow-hidden rounded-full">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:moon'"
                    ></mat-icon>
                </div>
                <div
                    class="ml-2 flex items-center font-medium leading-5"
                    [class.text-secondary]="config.scheme !== 'dark'"
                >
                    {{ 'common.dark' | transloco }}
                </div>
            </div>
            <!-- Light -->
            <div
                class="bg-hover flex cursor-pointer items-center rounded-full py-3 pl-5 pr-6 ring-inset ring-primary"
                [class.ring-2]="config.scheme === 'light'"
                (click)="setScheme('light')"
            >
                <div class="flex items-center overflow-hidden rounded-full">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:sun'"
                    ></mat-icon>
                </div>
                <div
                    class="ml-2 flex items-center font-medium leading-5"
                    [class.text-secondary]="config.scheme !== 'light'"
                >
                    {{ 'common.light' | transloco }}
                </div>
            </div>
        </div>
    </div>
</div>
