<div class="flex w-full flex-col">
    <div class="flex h-16 items-center justify-between border-b px-6">
        <h2 mat-dialog-title class="m-0 flex h-full items-center leading-none text-xl font-semibold tracking-tight">
            {{ 'common.settings' | transloco }}
        </h2>
        <button mat-icon-button type="button" (click)="closeSettings.emit()">
            <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <mat-dialog-content class="settings-modal-content m-0 flex flex-col p-6">
        <!-- Theme -->
        <div class="text-secondary text-md font-semibold">{{ 'common.theme' | transloco }}</div>
        <div class="mt-6 grid grid-cols-2 gap-3 sm:grid-cols-3">
            @for (theme of config.themes; track theme) {
                <div
                    class="bg-hover flex cursor-pointer items-center justify-center rounded-full px-4 py-3 ring-inset ring-primary"
                    [class.ring-2]="config.theme === theme.id"
                    [ngClass]="theme.id"
                    (click)="setTheme(theme.id)"
                >
                    <div class="h-3 w-3 flex-0 rounded-full bg-primary"></div>
                    <div
                        class="text-default ml-2.5 truncate font-medium leading-5"
                        [class.text-secondary]="config.theme !== theme.id"
                    >
                        {{ theme.name }}
                    </div>
                </div>
            }
        </div>

        <hr class="my-8" />

        <!-- Language -->
        <div class="text-secondary text-md font-semibold">{{ 'common.language' | transloco }}</div>
        <div class="mt-6 grid grid-cols-2 gap-3">
            <!-- ES -->
            <div
                class="bg-hover flex w-full cursor-pointer items-center justify-center rounded-full px-3 py-3 text-center ring-inset ring-primary"
                [class.ring-2]="activeLang === 'es'"
                (click)="setActiveLang('es')"
            >
                <div
                    class="text-default flex min-w-0 items-center font-medium leading-5"
                    [class.text-secondary]="activeLang !== 'es'"
                >
                    Español
                </div>
            </div>
            <!-- PT-BR -->
            <div
                class="bg-hover flex w-full cursor-pointer items-center justify-center rounded-full px-3 py-3 text-center ring-inset ring-primary"
                [class.ring-2]="activeLang === 'pt-br'"
                (click)="setActiveLang('pt-br')"
            >
                <div
                    class="text-default flex min-w-0 items-center font-medium leading-5"
                    [class.text-secondary]="activeLang !== 'pt-br'"
                >
                    Português (BR)
                </div>
            </div>
            <!-- FR -->
            <div
                class="bg-hover flex w-full cursor-pointer items-center justify-center rounded-full px-3 py-3 text-center ring-inset ring-primary"
                [class.ring-2]="activeLang === 'fr'"
                (click)="setActiveLang('fr')"
            >
                <div
                    class="text-default flex min-w-0 items-center font-medium leading-5"
                    [class.text-secondary]="activeLang !== 'fr'"
                >
                    Français
                </div>
            </div>
            <!-- EN -->
            <div
                class="bg-hover flex w-full cursor-pointer items-center justify-center rounded-full px-3 py-3 text-center ring-inset ring-primary"
                [class.ring-2]="activeLang === 'en'"
                (click)="setActiveLang('en')"
            >
                <div
                    class="text-default flex min-w-0 items-center font-medium leading-5"
                    [class.text-secondary]="activeLang !== 'en'"
                >
                    English
                </div>
            </div>
        </div>

        <hr class="my-8" />

        <!-- Scheme -->
        <div class="text-secondary text-md font-semibold">{{ 'common.scheme' | transloco }}</div>
        <div class="mt-6 grid grid-cols-2 gap-3">
            <!-- Auto -->
            <div
                class="bg-hover flex w-full cursor-pointer items-center justify-center rounded-full px-3 py-3 ring-inset ring-primary"
                [class.ring-2]="config.scheme === 'auto'"
                [matTooltip]="'common.auto_scheme_tooltip' | transloco"
                (click)="setScheme('auto')"
            >
                <div class="flex items-center overflow-hidden rounded-full">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:bolt'"
                    ></mat-icon>
                </div>
                <div
                    class="text-default ml-2 flex min-w-0 items-center font-medium leading-5"
                    [class.text-secondary]="config.scheme !== 'auto'"
                >
                    {{ 'common.auto' | transloco }}
                </div>
            </div>
            <!-- Dark -->
            <div
                class="bg-hover flex w-full cursor-pointer items-center justify-center rounded-full px-3 py-3 ring-inset ring-primary"
                [class.ring-2]="config.scheme === 'dark'"
                (click)="setScheme('dark')"
            >
                <div class="flex items-center overflow-hidden rounded-full">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:moon'"
                    ></mat-icon>
                </div>
                <div
                    class="text-default ml-2 flex min-w-0 items-center font-medium leading-5"
                    [class.text-secondary]="config.scheme !== 'dark'"
                >
                    {{ 'common.dark' | transloco }}
                </div>
            </div>
            <!-- Light -->
            <div
                class="bg-hover flex w-full cursor-pointer items-center justify-center rounded-full px-3 py-3 ring-inset ring-primary"
                [class.ring-2]="config.scheme === 'light'"
                (click)="setScheme('light')"
            >
                <div class="flex items-center overflow-hidden rounded-full">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:sun'"
                    ></mat-icon>
                </div>
                <div
                    class="text-default ml-2 flex min-w-0 items-center font-medium leading-5"
                    [class.text-secondary]="config.scheme !== 'light'"
                >
                    {{ 'common.light' | transloco }}
                </div>
            </div>
        </div>
    </mat-dialog-content>
</div>
